---
---

<section class="categories">
	{% assign categories = site.categories | sort %}
	{% for category in categories %}
		{% assign name = category[0] %}
		{% assign posts = category[1] %}
		<section class="category">
			<button>
				Category: <a href="{{ site.url }}/category/{{ name | slugify }}/">{{ name | capitalize | replace: "-", " " }}</a>
			</button>
		</section>
	{% endfor %}
</section>
	{% assign programs = site.posts | sort: "title" %}
	{% for program in programs %}
<section class="program-cards">
	{% if program.featured-image and program.featured-image != "" %}
	<!-- Pulls in featured-image from each program -->
	<img class="program-card-thumbnail" src="{{ site.url }}{{ program.featured-image }}"/>
	{% endif %}
	<div class="program-card-description"> <!-- Pulls in title and description from each program -->
		<h3><a href="{{ site.url }}{{ program.url }}">{{ program.title }}</a></h3>
		<p>{{ program.description }}</p>
	</div>
</section>
	{% endfor %}
