<section class="categories">
	<!-- Add specific program categories to description pages (by checking if page layout is 'post') -->
	{% if page.layout == 'post' %}
	{% for category in page.categories %}
		<section class="category">
			<a href="{{ site.url }}/category/{{ category | slugify }}/">
				<button class="category-btn">Category: {{ category | capitalize | replace: "-", " " }}</button>
			</a>
		</section>
	{% endfor %}
	{% else %}
	<!-- Add all program categories to homepage -->
	{% assign categories = site.categories | sort %}
	{% for category in categories %}
		{% assign name = category[0] %}
		{% assign posts = category[1] %}
		<section class="category">
			<a href="{{ site.url }}/category/{{ name | slugify }}/">
				<button class="category-btn">Category: {{ name | capitalize | replace: "-", " " }}</button>
			</a>
		</section>
	{% endfor %}
	{% endif %}
</section>
