<section class="program-cards">
	{% if program.featured-thumbnail == "" %} 
	<!-- If no featured-thumbnail is listed, include placeholder -->
	<img class="program-card-thumbnail" src="{{ site.url }}/uploads/placeholder-featured-thumbnail.jpg"/>
	{% else %}
	<!-- Else pull in featured-thumbnail from each program -->
	<img class="program-card-thumbnail" src="{{ site.url }}{{ program.featured-thumbnail }}"/>
	{% endif %}
	<div class="program-card-description"> <!-- Pulls in title and description from each program -->
		<h3><a href="{{ site.url }}{{ program.url }}">{{ program.title }}</a></h3>
		<p>{{ program.description | truncate: 100 }}</p>
		<ul>
			{% if program.point-of-contact and program.point-of-contact != "" %}
			<li>Contact: {{ program.point-of-contact }}</li>
				{% endif %}
			<li>{{ program.phone-number }}
				{% if program.phone-ext and program.phone-ext != "" %}
					ext. {{ program.phone-ext }}</li>
				{% endif %}
				{% if program.street-address and program.street-address != "" %}
			<li>{{ program.street-address }}{% endif %}<br>
				{% if program.city-state-zip and program.city-state-zip != "" %}
				{{ program.city-state-zip }}{% endif %}</li>
		</ul>
		<a href="{{ site.url }}{{ program.url }}"><button class="apply-now-btn">More Info</button></a>
	</div>
</section>
