/* Program Card Styles */

section.program-cards {
  display: flex;
  margin-bottom: 5rem;
  flex-wrap: wrap;

  @media #{$mid-point} {
    flex-wrap: nowrap;
  }

  img.program-card-thumbnail {
    margin-bottom: 1rem;

    @media #{$mid-point} {
      margin-right: 3rem;
			max-width: 360px;
      max-height: 360px;
		}
  }

}
