---
layout: default
---

<section class="tutorial-content">
	<!-- Hero Header including featured-image(background), title, categories-applied, location and phone# -->
	<h1>{{ page.title }}</h1>
	<img class='page__program__featured-images'src="{{ site.url }}{{ page.featured-image }}" alt="{{ page.title }} image "/>
	{% include categories-section.html %}
	<div class="tutorial-main">
		<p>{{ page.description }}</p>
		{{ content }}
		<h3>Contact Info</h3>
			<ul class="program-contact-info">
				{% if page.phone-number and page.phone-number != "" %}
				<li>{{ page.phone-number }}</li>
				{% endif %}
				{% if page.street-address and page.street-address != "" %}
				<li>{{ page.street-address }}</li>
				{% endif %}
				{% if page.city-state-zip and page.city-state-zip != "" %}
				<li>{{ page.city-state-zip }}</li>
				{% endif %}
			</ul>
		<a href="#"><button class="apply-now-btn">Apply Now</button></a>
	</div>
</section>

<!-- Need to move these scripts into footer.html include file (same across all template files) -->
<script src="{{ site.baseurl }}/js/main.js"></script>

<script>
	var headings = document.querySelectorAll("h2[id]");

	console.log(headings);
	for (var i = 0; i < headings.length; i++) {
		var anchorLink = document.createElement("a");
		anchorLink.innerText = "#";
		anchorLink.href = "#" + headings[i].id;
		anchorLink.classList.add("header-link");

		headings[i].appendChild(anchorLink);
	}

	$(".modalOpen").click(function() {
		var id = $(this).attr("href");
		$(id).addClass("show");

		$(window).click(function() {
			$(".show").removeClass("show");
		});

		$(id + " > div").click(function(event){
			event.stopPropagation();
		});
		return false;
	});

	$(".close").click(function() {
		$(".show").removeClass("show");
		return false;
	});

	$(document).keyup(function(e) {
		if (e.keyCode == 27) {
			$(".show").removeClass("show");
		}
	});
</script>
