---
layout: default
---

<section class="tutorial-content">
	<h1>{{ page.title }}</h1>
	{% if page.featured-image == "" %}
	<!-- If no featured-image is listed, include placeholder -->
	<img class="program-card-thumbnail" src="{{ site.url }}/uploads/placeholder-featured-image.jpg" alt="{{ page.title }} image"/>
	{% else %}
	<!-- Else pull in featured-image from each program -->
	<img class="program-card-featured" src="{{ site.url }}{{ page.featured-image }}" alt="{{ page.title }} image"/>
	{% endif %}
	{% include categories-section.html %}
	<div class="tutorial-main">
		<p>{{ page.description }}</p>
		{{ content }}
	</div>
	<div class="details-main">
		<h3>Program Details</h3>
			<ul class="program-details-info">
				{% if page.ages-served and page.ages-served != "" %}
					<li>Ages Served: {{ page.ages-served }}</li>
				{% endif %}
				{% if page.services-provided and page.services-provided != "" %}
					<li>Services Provided: {{ page.services-provided | join: ', '}}</li>
				{% endif %}
				{% if page.is-free %}
					<li>Are Services Free? Yes</li>
					{% else %}
					<li>Are Services Free? No</li>
				{% endif %}
			</ul>
	</div>
	<div class="contact-main">
		<div id="contact-info">
			<h3>Contact Info</h3>
				<ul class="program-contact-info">
					{% if page.point-of-contact and page.point-of-contact != "" %}
					<li>Contact: {{ page.point-of-contact }}</li>
					{% endif %}
					{% if page.phone-number and page.phone-number != "" %}
					<li>{{ page.phone-number }} {% if page.phone-ext and page.phone-ext != "" %}ext. {{ page.phone-ext }}{% endif %}</li>
					{% endif %}
					{% if page.street-address and page.street-address != "" %}
					<li>{{ page.street-address }}<br>
					{% endif %}
					{% if page.city-state-zip and page.city-state-zip != "" %}
					{{ page.city-state-zip }}</li>
					{% endif %}
					{% if page.website and page.website != "" %}
					<li>Website: <a href="http://{{ page.website }}">{{ page.website }}</a></li>
					{% endif %}
				</ul>
				<a href="https://securedforms.formstack.com/forms/afterchool_program_application_form?Program_of_Interest={{ page.title }}" ={{ page.title }}"><button class="apply-now-btn">Apply Now</button></a>
			</div>
		{% if page.street-address and page.street-address != "" %}
		<div id="google-map">
			<iframe width="500" height="400" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAZSoBh_kH7Bns4NHoFhWLkB-fNsdZzsXc&q={{ page.street-address | replace: ' ', '+' }} {{ page.city-state-zip | replace: ' ', '+' }}" allowfullscreen>
			</iframe>
		</div>
		{% endif %}
	</div>
</section>

<!-- Need to move these scripts into footer.html include file (same across all template files) -->
<script src="{{ site.url }}/js/main.js"></script>

<script>
	var headings = document.querySelectorAll("h2[id]");

	console.log(headings);
	for (var i = 0; i < headings.length; i++) {
		var anchorLink = document.createElement("a");
		anchorLink.innerText = "#";
		anchorLink.href = "#" + headings[i].id;
		anchorLink.classList.add("header-link");

		headings[i].appendChild(anchorLink);
	}

	$(".modalOpen").click(function() {
		var id = $(this).attr("href");
		$(id).addClass("show");

		$(window).click(function() {
			$(".show").removeClass("show");
		});

		$(id + " > div").click(function(event){
			event.stopPropagation();
		});
		return false;
	});

	$(".close").click(function() {
		$(".show").removeClass("show");
		return false;
	});

	$(document).keyup(function(e) {
		if (e.keyCode == 27) {
			$(".show").removeClass("show");
		}
	});
</script>
